<section class="site-section about-section text-center" id="about">
  <header class="section-header">
    <h2>
      About
    </h2>
  </header>
  <div class="section-content">
    <h3 class="lead">
      Learn More About Binaural Beats
    </h3>
    <blockquote cite="{{ site.url }}">
      See <a href="{% post_url 2024-03-05-Learn-More-About-Binaural-Beats %}">this blog post</a> to learn more about Binaural Beats.
    </blockquote>
    <h3 class="lead">
      How Can This Collection Help?
    </h3>
    <blockquote cite="{{ site.url }}">
      This library of high definition audio tracks is being made publicly available on the
      corresponding <a href="{{ site.youtube }}" target="_blank">@BinauralBeatBank</a> YouTube channel.
      The primary goal is to curate a catalog of audio tracks that each have a specific functional purpose.
    </blockquote>
    <h3 class="lead">
      Who Curates The Collection?
    </h3>
    <blockquote cite="{{ site.url }}">
      The Binaural Beat Bank collection is created and curated by Ray Cardillo of Cardillo's Creations, LLC.
    </blockquote>
  </div>
</section>